body {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) no-repeat scroll 0% 0% #E8EBEF;
}

.content-text {
    font-family: 'Lato', sans-serif;
}
.name {
    text-align: center;
}

.info-block {
    border-right: 1px solid #e2e2e2;
}
.candidate-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
}

@media all and (min-width: 1000px){
  #content{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media all and (min-width: 500px){
  #content{
    margin-left: 5%;
    margin-right: 5%;
  }
}
